<div *ngIf="!showMenu">
  <router-outlet></router-outlet>
</div>

<div
  *ngIf="showMenu && isWatch"
  class="watch-layout"
  (touchstart)="onTouchStart($event)"
  (touchend)="onTouchEnd($event)"
>
  <router-outlet></router-outlet>

  <button
    class="watch-menu-btn"
    (click)="showWatchMenu = true"
  >
    ☰
  </button>

  <div
    *ngIf="showWatchMenu"
    class="watch-menu-overlay"
    (click)="showWatchMenu = false"
  >
    <div class="watch-menu" (click)="$event.stopPropagation()">
      <button
        routerLink="/home"
        (click)="showWatchMenu = false"
      >
        Home
      </button>

      <button
        routerLink="/schedule"
        (click)="showWatchMenu = false"
      >
        Schedule
      </button>

      <button
        routerLink="/adherence"
        (click)="showWatchMenu = false"
      >
        Adherence
      </button>

      <button
        routerLink="/settings"
        (click)="showWatchMenu = false"
      >
        Settings
      </button>
      <button
        class="logout-watch"
        (click)="showWatchMenu = false; logout()"
      >
        Log out
      </button>
    </div>
  </div>
</div>

<div *ngIf="showMenu && isMobile && !isWatch" class="mobile-layout">
  <div class="mobile-top-bar">
      <button class="logout-btn discreet" (click)="logout()">Log out</button>
  </div>


  <router-outlet></router-outlet>

  <div class="mobile-bottom-nav">
    <div routerLink="/home" class="nav-item">Home</div>
    <div routerLink="/schedule" class="nav-item">Schedule</div>
    <div routerLink="/adherence" class="nav-item">Adherence</div>
    <div routerLink="/settings" class="nav-item">Settings</div>
  </div>
</div>


<div *ngIf="showMenu && !isMobile && !isWatch" class="desktop-layout">
  <div class="desktop-top-bar">
      <button class="logout-btn discreet" (click)="logout()">Log out</button>
  </div>


  <div class="page-content">
    <router-outlet></router-outlet>
  </div>

  <div class="desktop-bottom-nav">
    <div routerLink="/home" routerLinkActive="active" class="nav-item">Home</div>
    <div routerLink="/schedule" routerLinkActive="active" class="nav-item">Schedule</div>
    <div routerLink="/adherence" routerLinkActive="active" class="nav-item">Adherence</div>
    <div routerLink="/settings" routerLinkActive="active" class="nav-item">Settings</div>
  </div>
</div>

<router-outlet></router-outlet>
<app-emergency
  *ngIf="showEmergency"
  [isMobile]="isMobile"
  [isWatch]="isWatch"
  (close)="closeEmergency()"
></app-emergency>


<app-pill-alert
  *ngIf="showPillAlert && alertMed"
  [isMobile]="isMobile"
  [isWatch]="isWatch"
  [userId]="alertMed.userId"
  [logId]="alertMed.logId"
  [medName]="alertMed.name"
  [dosage]="alertMed.dosage"
  [imageUrl]="alertMed.image"
  (close)="closePillAlert()"
>
</app-pill-alert>
