<div 
  class="overlay"
  [ngClass]="{ 
    'watch-overlay': isWatch,
    'mobile-overlay': isMobile && !isWatch 
  }"
  (click)="close.emit()"
>

  <div 
    class="alert-box"
    [ngClass]="{ 
      'watch-alert-box': isWatch,
      'mobile-alert-box': isMobile && !isWatch
    }"
    (click)="$event.stopPropagation()"
  >

    <img [src]="imageUrl" class="alert-pill" />

    <h1 *ngIf="!isWatch && !isMobile">
      {{ medName }} – {{ dosage }}
    </h1>
    <p *ngIf="!isWatch && !isMobile">
      Your dose is due now.
    </p>

    <p *ngIf="isMobile && !isWatch" class="mobile-text">
      {{ medName }} ({{ dosage }})
    </p>

    <p *ngIf="isWatch" class="watch-text">
      {{ medName }} ({{ dosage }})
    </p>

    <button class="take-btn" (click)="takeNow()">
      OK, I’ll take it
    </button>
<button class="take-btn" (click)="snooze()">
  I’ll take it in {{ postponeMinutes }} mins
</button>


  </div>
</div>
